@font-face {
  font-family: "Victor Mono";
  src: url("../../assets/font/VictorMono/VictorMono-Bold.eot");
  src: url("../../assets/font/VictorMono/VictorMono-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/font/VictorMono/VictorMono-Bold.woff2") format("woff2"),
    url("../../assets/font/VictorMono/VictorMono-Bold.woff") format("woff"),
    url("../../assets/font/VictorMono/VictorMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Victor Mono";
  src: url("../../assets/font/VictorMono/VictorMono-BoldItalic.eot");
  src: url("../../assets/font/VictorMono/VictorMono-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/font/VictorMono/VictorMono-BoldItalic.woff2")
      format("woff2"),
    url("../../assets/font/VictorMono/VictorMono-BoldItalic.woff")
      format("woff"),
    url("../../assets/font/VictorMono/VictorMono-BoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  src: url(https://lea.verou.me/logo.otf);
  font-family: "LeaVerou";
}

html {
  font: Montserrat;
  background: linear-gradient(to bottom, #ffffff3a 0%);
  margin-left: 2%;
  margin-right: 2%;
}

.apps-title {
  font: Montserrat;
  font-size: 32px;
  border-bottom: 0.1cm solid black;
}

/* APPS */

/* refresher app */

.apps-refresher-main {
  font: Montserrat;
  font-size: 28px;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 400px;
}

/* periodic table app */

.apps-periodictable-main {
  font: Montserrat;
  text-align: center;
  /* background-color: #282c34; */
  min-height: 2000px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.apps-periodictable-header {
  font-size: calc(3px + 4vmin);
  text-align: center;
  color: #111111;
  justify-content: center;
  align-items: center;
}

.apps-periodictable-link {
  color: #61dafb;
}

.apps-periodictable-element {
  z-index: 1;
  color: #282c34;
  padding: 20px;
  width: 60px;
  height: 60px;
  align-items: center;
  border: 1px solid #282c34;
}

.apps-periodictable-element-atomic {
  font: Montserrat;
  font-size: 12px;
  color: #282c34;
  vertical-align: top;
  text-align: left;
  position: relative;
  width: 200%;
  left: -10px;
  top: -15px;
}

.apps-periodictable-element-symbol {
  font: Montserrat;
  color: #282c34;
  font-size: 16px;
  text-align: left;
  position: relative;
  width: 200%;
  left: -1px;
  top: -10px;
  margin-top: -5px;
}

.apps-periodictable-table {
  font: Montserrat;
  display: grid;
  grid-gap: 2px 2px;
  grid-template-columns: auto repeat(auto-fill, auto);
  justify-content: left;
  padding-top: 10px;
  padding-bottom: 0px;
}

.apps-periodictable-table-details {
  font: Montserrat;
  text-align: center;
  justify-content: center;
  color: #282c34;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 60px;
  bottom: 150px;
  width: 100%;
}

.apps-periodictable-table-details-title {
  font: Montserrat;
  text-align: center;
  justify-content: center;
  color: #282c34;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
  bottom: 150px;
  width: 100%;
}

.apps-periodictable-table-selector {
  font: Montserrat;
  text-align: left;
  color: #282c34;
  font-size: 24px;
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 5px;
  position: absolute;
  bottom: -50px;
}

.apps-bitcoin-main {
  font: Montserrat;
  font-size: 28px;
  text-align: center;
  margin-top: 100px;
  /* margin-bottom: 400px; */
}
/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
code[class*="language-"],
pre[class*="language-"] {
  font-family: "Victor Mono";
}

.gatsby-highlight {
  font-family: "Victor Mono";
  border-radius: 0.3em;
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 1em;
  overflow: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  font-family: "Victor Mono";
  margin: 10;
  padding: 10;
  overflow: initial;
  float: left; /* 1 */
  min-width: 50%; /* 2 */
  /* border: 1px solid #4a87c4; */
  box-shadow: 4px 4px 10px 1px #484848db;
  border-radius: 10px;
}

.gatsby-highlight .token.keyword {
  color: #ebbead;
}

.gatsby-highlight .token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #4963e3;
}

.gatsby-highlight .token.boolean,
.token.number {
  color: #55ae6e;
}

.gatsby-highlight .token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ba5f27;
}

.gatsby-highlight .token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8292a2;
}

.gatsby-highlight .token.punctuation {
  color: #b34959;
}
